@import "tailwindcss";

:root {
  --foreground: #353642;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-instrument-sans);
  --color-red: #ee9f96;
  --color-shadow: #7fa0b0;
  --color-yellow: #feffb5;
  --color-orange: #f6cea5;
  --color-green: #aad2af;
}

body {
  color: var(--foreground);
  font-family: "Instrument Sans" sans-serif;
}

.bg-lemons {
  background-image: url("../public/lemons-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (width <= 640px) {
  .bg-lemons {
    background-image: none;
  }
}
