@import "tailwindcss";

:root {
  --foreground: #353642;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-instrument-sans);
}

body {
  color: var(--foreground);
  font-family: "Instrument Sans" sans-serif;
}
